body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    /* Ajusta la imagen para que cubra el área */
    background-position: center;
    /* Centra la imagen */
    font-size: 18px;
}

header {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
  width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 2px solid transparent;
}

nav ul li a:hover {
  border-color: white;
}

.hero h1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.hero p {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: white;
  
}

.hero h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.hero p {
    display: flex;
    justify-content: center;
    text-align: center;


}
/* 🚦 Semáfaro de media querys 🚦 */

/* Desktop verde */
@media (min-width: 1025px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: green;
    }
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        margin: 120px;
        padding: 120px;

    }
}

/* Tablet amarillo */
@media (min-width: 650px) and (max-width: 1024px) {
  body {
    background-color: yellow;
  }

    header {
        flex-direction: column;    
    }
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 100px;
        padding: 100px;
        
    }
    p {
        display: flex;
        text-align: center  ;
    }
    
}

/* Mobile rojo */
@media (max-width: 649px) {
  body {
    background-color: red;
  }

    header {
        flex-direction: column;
        padding: 20px;
        }
    ul {
        flex-direction: column;
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
margin: 100px;
    }
    
}
